
<% @lists.each_slice(3) do |list| %>
<div class='row'>
    <% list.each do |list| %>
        <div class='card'style="width: 18rem;"> 
        <%= image_tag list.photo, class: 'card-img-top' %>
            <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= list.description %></h6>
            <%= link_to "completed", complete_path(list), method: :patch , class:"btn btn-success"%>
            </div>
        </div>
    <% end %>
    </div>
<% end %>